.elegance {
  background-image: url('/assets/images/Surround-Optimized.svg');
  background-position: top;
  background-size: cover;
  min-height: 300vh;
  background-repeat: no-repeat;
}

.bordertown {
  border: 50px solid transparent;
  padding: 15px;
  border-image: url('/assets/images/Surround-Optimized.svg') 15% repeat;
}

.title {
  height: 150px;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo {
  display: block;
  height: 100px;
}

.row {
  display: flex;
  flex-direction: row;

  &-price {
    justify-self: flex-end;
    text-align: right;
    margin-left: auto;
    margin-right: 10px;
  }

  &-ammendum {
    margin-left: 10px;
  }
}
