<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div class="container columns">
      <div class="column col-5">
        <ul class="contact-list">
          <li class="p-name">
            <h4>{{ site.title | escape }}</h4>
          </li>
          {% for address in site.address %}
            <li>{{address['street']}}</li>
            <li>{{address['city']}}, {{address['province']}},
              {{address['postal_code']}}</li>
          {% endfor %}
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="column col-7">
        <div class="columns">
          <div class="column col-6">
            <ul style="list-style-type: none;">
              {% for operation in site.operations %}
                <li><strong>{{operation['day']}}:</strong></li>
              {% endfor %}
            </ul>
          </div>
          <div class="column col-6">
            <ul style="list-style-type: none;">
              {% for operation in site.operations %}
                <li>{{operation['hours']}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>
