---
layout: default
---

{% assign menu = site.data.menu.breakfast %}
{% assign column2 = menu | where: "column", 2 %}
<div class="columns">
  <div class="column col-6">
    {% for section in menu %}
      {% if section.column == 1 %}
        <h2 class="text-center">{{section.title}}</h2>
        <p class="text-center">{{section.description}}</p>
        {% include dishes.html %}
      {% endif %}
    {% endfor %}
  </div>
  <div class="column col-6">
    {% for section in column2 %}
      {% if section.column == 2 %}
        <h2 class="text-center">{{section.title}}</h2>
        <p class="text-center">{{section.description}}</p>
        {% include dishes.html %}
      {% endif %}
    {% endfor %}
  </div>
</div>
